@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
}

/* ///////////////////navigation bar//////////////// */

header{
    height: 140vh;
    background: url(./img/david-taffet-5gXPapBz40c-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.navii{
    display: flex;
    justify-content: space-between;
    padding: 1.3em 0;
}

.logoNbtns{
    display: flex;
    justify-content: space-between;
    width: 1150px;
}

.logoNbtns .logoo{
    font-size: 3.2rem;
    font-weight: 600;
    text-decoration: none;
    color: aliceblue;
    transition: all 0.2s ease-in-out;
}

.logoNbtns .logoo:hover{
    font-size: 3.5rem;
}

.logoNbtns .btns{
    display: flex;
    justify-content: space-between;
    position: relative;
    font-size: 1.15rem;
    font-weight: 400;
    width: 360px;
    list-style: none;
}

/* .btns .nav-items{
    height: 50px
} */

.btns .nav-items{
    height: 100%;
    display: flex;
    align-items: center;
}

.btns .itm1{
    width: 20%;
}

.btns .itm2{
    margin-left: 1em;
    width: 38%;
}

.btns .itm3{
    width: 25%;
}

.btns .nav-items a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: aliceblue;
    top: 25%;
    transition: top 0.2s ease-in-out;

}

.btns .nav-items:hover a{
    position: absolute;
    font-size: 1.2rem;
    top: 20%;
}

.navii .signInBtn{
    display: flex;
    align-items: center;
    width: 200px;
}

.signInBtn a{
    text-decoration: none;
    border: 2px solid rgb(114, 112, 255);
    border-radius: 100em;
    width: 100%;
    color: aliceblue;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.2rem;
    margin: 0 auto;
    transition: all 0.2s ease-in-out;
}

.signInBtn a:hover{
    background-image: linear-gradient( 288deg,  rgba(0,85,255,1) 1.5%, rgba(4,56,115,1) 91.6% );
    border: none;
    color: aliceblue;
    font-size: 1.8rem;
}

